<div class="container">
  <div class="h2">Sign up form</div>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" [(ngModel)]="newAccount._email" placeholder="Email" class="form-control">
    </div>

    <div class="form-group">
      <label for="firstName">First name:</label>
      <input name="firstName" id="firstName" [(ngModel)]="newAccount.firstName" placeholder="First Name" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="LastName">Last name:</label>
      <input name="lastName" id="lastName" [(ngModel)]="newAccount.lastName" placeholder="Last Name" class="form-control" id="firstName">
    </div>

    <button type="submit" class="btn btn-primary" (click)="signUp()">Sign up</button>
  </form>
</div>